[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/Streamline"]
	path = extern/Streamline
	url = https://github.com/doodlum/Streamline.git
[submodule "extern/dxvk"]
	path = extern/dxvk
	url = https://github.com/doodlum/dxvk.git
[submodule "extern/D3D11On12"]
	path = extern/D3D11On12
	url = https://github.com/doodlum/D3D11On12
	branch = cs-integration
