[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "extern/NVAPI"]
	path = extern/NVAPI
	url = https://github.com/NVIDIA/nvapi.git
[submodule "extern/FidelityFX-SDK-DX11"]
	path = extern/FidelityFX-SDK-DX11
	url = https://github.com/metarutaiga/FidelityFX-SDK-DX11
